<form id="scvm-form" class="custom-dialog scvm-dialog">
  <!-- Standardklassen-Kategorie -->
  <div class="section">
    <div class="subtitle">{{localize "MB.ScvmfactoryChooseFromStandardClasses"}}</div>
    <ul class="class-list">
      {{#each this.standardClasses}}
      <li>
        <label>
          <input name="{{this.uuid}}" type="checkbox" class="class-checkbox" {{#if this.checked}}checked{{/if}} />
          <div class="class-name">{{this.name}}</div>
        </label>
      </li>
      {{/each}}
    </ul>
    <div class="toggle-row">
      <a class="toggle-none">{{localize "MB.ScvmfactoryToggleNone"}}</a>&nbsp; /
      &nbsp;<a class="toggle-all">{{localize "MB.ScvmfactoryToggleAll"}}</a>
    </div>
  </div>

  <!-- Neue Klassen-Kategorie -->
  <div class="section">
    <div class="subtitle">{{localize "MB.ScvmfactoryChooseFromNewClasses"}}</div>
    <ul class="new-class-list">
      {{#each this.newClasses}}
      <li>
        <label>
          <input name="{{this.uuid}}" type="checkbox" class="new-class-checkbox" {{#if this.checked}}checked{{/if}} />
          <div class="class-name">{{this.name}}</div>
        </label>
      </li>
      {{/each}}
    </ul>
    <div class="toggle-row">
      <a class="toggle-none-new">{{localize "MB.ScvmfactoryToggleNone"}}</a>&nbsp; /
      &nbsp;<a class="toggle-all-new">{{localize "MB.ScvmfactoryToggleAll"}}</a>
    </div>
  </div>
</form>
