<form class="roll-card attack-roll-card">
  <div class="card-title">
    {{localize weaponTypeKey}} {{localize 'MB.Attack'}}
  </div>
  {{#each items as |item id|}}
  <div class="item-row">
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
  </div>
  {{/each}}
  <div class="roll-result">
    <div class="roll-title">
      <span
        >{{localize 'MB.Attack'}}: {{attackFormula}} {{localize 'MB.Vs'}}
        {{localize 'MB.DR'}} {{attackDR}}</span
      >
    </div>
    <div class="roll-row">
      <span>{{xtotal attackRoll}}</span>
    </div>
  </div>
  <div class="outcome-row">
    <span>{{attackOutcome}}</span>
  </div>
  {{#if damageRoll}}
  <div class="roll-result">
    <div class="roll-title">
      <span>{{localize 'MB.Damage'}}: {{damageRoll._formula}}</span>
    </div>
    <div class="roll-row">
      <span>{{xtotal damageRoll}}</span>
    </div>
  </div>
  {{/if}} {{#if targetArmorRoll}}
  <div class="roll-result">
    <div class="roll-title">
      <span>{{localize 'MB.TargetArmor'}}: {{targetArmorRoll.formula}}</span>
    </div>
    <div class="roll-row">
      <span>{{xtotal targetArmorRoll}}</span>
    </div>
  </div>
  {{/if}} {{#if takeDamage}}
  <div class="outcome-row">
    <span>{{takeDamage}}</span>
  </div>
  {{/if}}
</form>
