<form class="roll-card">
  <div class="card-title">Get Better</div>
  <div class="roll-result">
    <div class="outcome-row">
      <span>{{hpOutcome}}</span>
    </div>
    <div class="outcome-row">
      <span>{{strOutcome}}</span>
    </div>
    <div class="outcome-row">
      <span>{{agiOutcome}}</span>
    </div>
    <div class="outcome-row">
      <span>{{preOutcome}}</span>
    </div>
    <div class="outcome-row">
      <span>{{touOutcome}}</span>
    </div>
    <div class="roll-title">
      <span>Left in the debris you find:</span>
    </div>
    <div class="outcome-row">
      <span>{{debrisOutcome}}</span>
    </div>
  </div>
</form>
