<form class="roll-card">
  <div class="card-title">{{cardTitle}}</div>
  {{#each items as |item id|}}
    <div class="item-row">
      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
      <span class="item-name">{{item.name}}</span>
    </div>
  {{/each}}  
  {{#if drModifiers}}
    <div class="dr-modifiers">
      {{#each drModifiers}}
        <div class="dr-modifier">{{this}}</div>
      {{/each}}
    </div>  
  {{/if}}
  {{#each rollResults}}
    <div class="test-roll">
      <div class="roll-title">
        <span>{{rollTitle}}</span>
      </div>
      <div class="roll-result">
        <span>{{xtotal roll}}</span>
      </div>
      {{#each outcomeLines}}
        <div class="outcome-text">
          <span class="take-damage">{{this}}</span>
        </div>
      {{/each}}
    </div>
  {{/each}}
</form>