<form class="roll-card">
  <div class="card-title">{{cardTitle}}</div>
  {{#each items as |item id|}}
    <div class="item-row">
      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
      <span class="item-name">{{item.name}}</span>
    </div>
  {{/each}}  
  {{#if drModifiers}}
    <div class="dr-modifiers">
      {{#each drModifiers}}
        <div class="dr-modifier">{{this}}</div>
      {{/each}}
    </div>  
  {{/if}}
  {{#each rollResults}}
    <div class="roll-result">
      {{#if rollTitle}}
        <div class="roll-title">
          <span>{{rollTitle}}</span>
        </div>
      {{/if}}
      {{#if roll}}
        <div class="roll-row">
          <span>{{xtotal roll}}</span>
        </div>
      {{/if}}
      {{#each outcomeLines}}
        {{#if this}}        
          <div class="outcome-row">
            <span>{{this}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</form>