<form class="roll-card attack-roll-card">
  <div class="card-title">{{cardTitle}}</div>
  <div class="item-row">
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
  </div>
  <div class="attack-roll">
    <div class="roll-title">
      <span>{{attackFormula}}</span>      
    </div>
    <div class="roll-row">
      <span>{{xtotal attackRoll}}</span>
    </div>
  </div>
  <div class="roll-button-row">
    <button type="button" class="roll-card-button damage-button" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}">{{localize 'MB.RollDamage'}}</button>
  </div>
</form>
