<form class="roll-card attack-roll-card">
  <div class="card-title">
    {{localize weaponTypeKey}} {{localize 'MB.Attack'}}
  </div>
  {{#each items as |item id|}}
  <div class="item-row">
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
  </div>
  {{/each}}
  <div class="attack-roll">
    <div class="roll-title">
      <span>{{attackFormula}}</span>      
    </div>
    <div class="roll-result">
      <span>{{xtotal attackRoll}}</span>
    </div>
  </div>
</form>
